<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>推論用の画面</h1>
    <hr>
    <form method="POST">
        {% for col in col_names%}
        <label for={{col}}>{{col}}</label>
        <input type="int" name="{{col}}" size="1"><br>
        {% endfor %}
        <br>
        <input type="submit" value="新規予測"><br>      
        <br>
        <a href="/" role="button">戻る</a>
    </form>
</body>
</html>